<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Orders</title>
</head>
<body>
    <h1>Your Orders</h1>
    <a href="/">continueshopping</a>
    <% if (orders && orders.length > 0) { %>
        <ul>
            <% orders.forEach(order => { %>
                <li>
                    <h2>Order ID: <%= order._id %></h2>
                    <p>Total Amount: &#8377;<%= order.totalAmount %></p>
                    <p>Items:</p>
                    <ul>
                        <% order.items.forEach(item => { %>
                            <li>
                                <h3><%= item.item.ItemName %></h3>
                                <p>Quantity: <%= item.quantity %></p>
                            </li>
                        <% }) %>
                    </ul>
                    <p>Order Date: <%= order.createdAt.toLocaleString() %></p>
                    <p><%= order.status %></p>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>You have no orders yet.</p>
    <% } %>
    <a href="/">Continue Shopping</a>
</body>
</html>